* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: serif;
}

.main-logo {
    width: 190px;
    height: 100%;
}

.header-top {
    background: #023B6D;
}

.logo-and-main-menu-and-button {
    width: 1020px;
    background: #37517E;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

.logo-and-main-menu-and-button-background {
    background: #37517E;
}

.logo h1 a {
    text-decoration: none;
    color: white;
}

.main-menu ul {
    list-style: none;
}

.main-menu ul li {
    float: left;
    padding: 10px;
}

.main-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.footer-background {
    background: #37517E;
    width: 100%;
    height: 80px;
    margin-top: 50px;
}

.footer-part {
    width: 1020px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.main-body-section {
    width: 1020px;
    height: 390px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-body-section-1 {
    width: 48%;
    height: 100%;
    /* background: yellow; */
    padding: 15px;
}

.logo {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-body-section-1 h1 {
    color: white;
    font-size: 48px;
    line-height: 50px;
    font-family: serif;
}

.main-body-section-1 p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #AFB9CB;
}

.two-buttons button {
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 35px;
    background: deepskyblue;
    color: white;
    border: none;
}

.main-body-part-1 {
    background: #37517E;
    padding: 35px;
}

.main-body-section-1 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.menu-button button {
    /* border-radius: 26px; */
    /* padding: 10px 15px; */
    /* border: 2px solid #47B2E4; */
    background: none;
    font-size: 15px;
    border: navajowhite;
}

.menu-button button a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 26px;
    display: inline-block;
    border: 2px solid red;
}

.menu-button button a:hover {
    background: red;
}

.main-body-part-2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #F3F5FA;
    margin-bottom: 60px;
}

.main-body-part-2-section {
    width: 1020px;
    height: 100%;
    margin: auto;
}

.logo-main-body-part-2-section {
    width: 16%;
    height: 100%;
    /* background: red; */

}

.main-body-part-2-section {
    width: 1020px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-main-body-part-2-section img {
    padding: 15px 40px;
    transition: all 0.5s;
}

.logo-main-body-part-2-section img {
    filter: grayscale(100);
}

.logo-main-body-part-2-section img:hover {
    filter: none;
    transform: scale(1.5);
}

.about-us {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    /* position: relative; */
}

.about-us-main-box {
    width: 1020px;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.about-us-part {
    width: 48%;
    height: auto;
}

.learn-button {
    margin-top: 15px;
}

.learn-button button {
    padding: 10px 15px;
    background: none;
    color: dodgerblue;
    border: 2px solid dodgerblue;
}

.learn-button button:hover {
    background: dodgerblue;
    color: white;
}

.learn-button button {
    transition: all 0.5s;
    border-radius: 10px;
}

.main-body-part-3 {
    margin-bottom: 80px;

}

.about-us h1 {
    /* text-transform: uppercase; */
    color: cadetblue;
}

.main-menu ul li a:hover {
    color: red;
}


.main-body-part-4 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #F3F5FA;
    padding: 100px 0;
}

.main-body-part-4-box {
    width: 1020px;
    height: auto;
    overflow: hidden;
    /* background: yellow; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.main-body-part-4-box-section {
    width: 50%;
}

.main-body-part-4-box-section {
    padding: 20px;
}

.main-body-part-4-box-section h1 {
    margin-bottom: 15px;
    color: #37517E;
    font-weight: normal;
}

.q-box-item {
    margin: 20px;
}

.q-box-item {
    background: white;
    padding: 10px;
}

.main-body-part-4-box-section {
    margin: auto;
}

.font-weight-bolt {
    font-weight: bold;
}

.q-box-item h2 {
    font-size: 20px;
}

.font-weight-bold {
    font-weight: bold;
}

.main-body-part-5 {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
}
.main-body-part-5-box {
    width: 1020px;
    height: auto;
    margin: auto;
}

.heading {
    position: relative;
    margin-bottom: 30px;
}

.small-logo-describe {
    width: 23%;
    height: auto;
    overflow: hidden;
    background:#F3F5FA;
    padding: 50px 20px;
    justify-items: center;
    box-shadow: 0 0 10px;
}

.part-5-box-section-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.details p {
    text-align: center;
    font-size: 16px;
}
.small-logo-describe h2 {
    margin-bottom: 15px;
}

.heading h1 {
    width: fit-content;
    margin: auto;
}

.main-body-part-6 {
    width: 100%;
    height: auto;
    background: #293E60;
    overflow: hidden;
}
.call-to-action-title {
    width: 1020px;
    height: 200px;
    /* background: red; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.call-to-action-title {
    padding: 50px 5px 50px 5px;
    justify-content: space-between;
}
.call-to-action-button {
    
    /* background: green; */
    margin-left: 2%;
}
.call-to-action-info {
    width: 76%;
    height: 200px;
    /* background: yellow; */
    overflow: hidden;
    
}

.call-to-action-button button {
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid white;
    font-family: sans-serif;
    background: none;
    color: white;
}
.call-to-action-info h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.call-to-action-info {
    color: white;
}
.portfolio-box {
    width: 1020px;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.portfolio-item {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
.portfolio-item h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    /* border-bottom: 2px solid red; */
    /* width: fit-content; */
    text-align: center;
    /* display: inline-block; */
}
.portfolio-item-2 ul li a {
    text-decoration: none;
    padding: 2px 10px;
    
}


.portfolio-item-2 ul li {
    display: inline-block;
    /* padding: 2px 8px; */
    font-size: 20px;
    border-radius: 50px;
}

.portfolio-item-2 ul {
    display: flex;
    justify-content: center;
}
.portfolio-item-2 ul li a:hover {
    background: aqua;
    border-radius: 50px;
    transition: all 0.5s;
    /* padding: 2px 10px; */
}
.main-body-part-6 {
    margin-bottom: 50px;
}
.portfolio-item-3 {
    width: 1020px;
    height: auto;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    margin-left: -3%;
}
.portfolio-item-3-part {
    width: 30.33%;
    height: auto;
    /* border: 2px solid green; */
    margin-left: 3%;
}
.portfolio-item-2 {
    margin-bottom: 20px;
}
.portfolio-item-3-part {
    position: relative;
}
.portfolio-caption {
    position: absolute;
    bottom: 0;
    background: rgba(55, 81, 126, 0.8);
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}

.portfolio-item-3-part:hover .portfolio-caption {
    opacity: 1;
}
.portfolio-caption-matter {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.portfolio-caption-matter-item h2 {
    font-size: 20px;
    color: white;
    padding: 10px;
}
.portfolio-caption-matter-item .icon-item {
    font-size: 20px;
    color: white;
    padding: 10px;
}

.portfolio-caption-matter-item {
    display: flex;
}
.portfolio-caption-matter-item h2 span {
    display: block;
    font-size: 15px;
}
.portfolio-item-3-part {
    margin-bottom: 2%;
}

.division {
    background: green;
    width: 1020px;
    height: 500px;
    margin: auto;
    position: relative;
}
.division-item {
    width: 200px;
}

.division-item:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid blue;
}

.division-item:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid gray;
}
.division-item:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid yellow;
}
.division-item:last-child {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 2px solid red;
}
.team-section-title {
    width: 1020px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.team-section-title h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #293E60;
}
.team-pic-info {
    width: 1020px;
    height: 500px;
    /* background: red; */
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.team-pic-info-matter {
    width: 49%;
    height: 48%;
    background: white;
    position: absolute;
    display: flex;
    padding: 30px 30px;
    border-radius: 20px;
}
.team-pic-info-matter:nth-child(2) {
    right: 0;
    top: 0;
}
.team-pic-info-matter:nth-child(3) {
    left: 0;
    bottom: 0;
}
.team-pic-info-matter:last-child {
    right: 0;
    bottom: 0;
}
.pic img {
    width: 70%;
    border-radius: 50%;
}
.info h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #37517e;
}
.team-section-title p {
    text-align: center;
}
.info {
    margin-left: -50px;
    padding-top: 25px;
}
.team-section-box {
    width: 100%;
    background: #f3f5fa;
    padding: 20px 0px;
}
.division {
    margin-top: 60px;
}


.footer-top-box {
    width: 1020px;
    height: auto;
    /* background: yellow; */
    margin: auto;
    margin-top: 50px;
}
.footer-top-box-row {
    width: 25%;
    height: auto;
    overflow: hidden;
    /* background: red; */
    color: #5e5e5e;
}
.footer-top-box {
    display: flex;
    justify-content: center;
}
.footer-top-box-row ul {
    list-style: none;
}
.footer-top-box-row ul li a {
    text-decoration: none;
    color: #5e5e5e;
}
.footer-top-box-row ul li {
    padding-bottom: 10px;
}
.footer-top-box-row h2 {
    color: #37517e;
}
.footer-top-box-row h4 {
    color: #37517e;
}
span {
    font-weight: bolder;
}
.section-contact-row-1 {
    width: 1020px;
    height: auto;
    overflow: hidden;
    margin: auto;
    text-align: center;
}


.section-contact-title h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    color: cadetblue;
    text-decoration: underline;
}
.section-contact-title p {
    line-height: 25px;
    color: darkcyan;
}
.section-contact-row-2-matter-1 {
    width: 35%;
    margin-right: 5%;
}
.section-contact-row-2 {
    display: flex;
}
.section-contact-row-1 {
    margin-bottom: 60px;
}
.row-2-matter-1-address {
    margin-bottom: 30px;
}
.section-contact-row-2 {
    width: 1020px;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.section-contact-row-2-matter-2 {
    width: 70%;
    height: auto;
    overflow: hidden;
    background: red;
}
.section-contact-row-2-matter-2,
.section-contact-row-2-matter-1 {
    border-top: 4px solid cornflowerblue;
    border-bottom: 4px solid cornflowerblue;
    padding: 15px;
    box-shadow: 0 0 15px #555;
    background: white;
    border-radius: 6px;
}
label {
    display: block;
    font-size: 15px;
    font-family: serif;
    padding-bottom: 5px;
}
.group-field {
    display: flex;
    flex-wrap: wrap;
}
.section-contact-row-2 {
    padding: 10px;
}
.name-field {
    width: 48%;
    margin-right: 4%;
}
.email-field {
    width: 48%;
}
textarea#message,
input#Subject,
input#Your_Email,
input#Your_Name {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.subject,
.group-field {
    margin-bottom: 20px;
}
input#Send_message {
    font-size: 15px;
    padding: 8px 10px;
    border: none;
    border-radius: 30px;
    background: #47B2E4;
    color: white;
    width: 130px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
textarea#message {
    height: 230px;
}
.join-our-newsletter-box {
    width: 1020px;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.newsletter-title h2 {
    margin-bottom: 20px;
    color: #375192;
    font-size: 26px;
    font-family: sans-serif;
}
.newsletter-title p {
    margin-bottom: 40px;
}
.subscribe-bar {
    width: 475px;
    background:white;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: auto;
    border-radius: 20px;
}
.subscribe-bar button {
    padding: 10px 15px;
    border: none;
    border-radius: 18px;
    background: cornflowerblue;
    font-size: 17px;
}
.section-ten {
    width: 100%;
    background: #F3F5FA;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}
.subscribe-bar button a {
    text-decoration: none;
    color: white;
    display: block;
}
.Asked-ques.title {
    width: 1020px;
    height: auto;
    overflow: hidden;
    margin: auto;
    text-align: center;
}
.Asked-ques.title h1 {
    margin-bottom: 20px;
    border-bottom: 2px solid royalblue;
    width: fit-content;
    text-align: center;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    color: #37517e;
}
.Asked-ques.title {
    margin-bottom: 40px;
    margin-top: 50px;
}
.question-items {
    width: 800px;
    height: auto;
    overflow: hidden;
    margin: auto;
    background: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
.question-items a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.question-items h4 a:hover {
    color: cornflowerblue;
    transition: all 0.5s;
}
.section-eight {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #F3F5FA;
}
.price-box {
    width: 1020px;
    height: auto;
    overflow: hidden;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.price-title h1 {
    color: #37517e;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 32px;
}
.price-plan-part {
    width: 30.33%;
    background: white;
    height: auto;
    overflow: hidden;
}
.price-plan-part {
    text-align: left;
    padding: 50px 20px;
    margin-left: 3%;
}
.price-plan-part h3 {font-size: 25px;margin-bottom: 15px;}

.price-plan-part h3 {
    color: #37517e;
    font-family: "Poppins", sans-serif;
    font-weight: 500;}

.price-plan-part h4 span {
    color: #37517e;
    font-family: "Poppins", sans-serif;
    font-size: xxx-large;
    font-weight: 500;}
    
.price-plan-part p span {
        color: blue;
        margin-right: 8px;
        font-size: 20px;
    }

.price-plan-part p {
        margin-bottom: 20px;
        color: cadetblue;
    }
.price-plan-part h5 {
        color: blueviolet;
        font-size: 18px;
        margin-bottom: 30px;
    }

.price-plan {
        display: flex;
        flex-wrap: wrap;
        margin-left: -3%;
        padding: 10px;
        
    }
    .price-title {
        margin-bottom: 50px;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .price-plan-part {
        box-shadow: 0 0 15px #555;
    }

    .price-plan-part:nth-child(2) {
        border-top: 6px solid #001fff;
        border-bottom: 6px solid #001fff;
        border-radius: 10px;
    }

    .price-plan-part button {
        padding: 10px 15px;
        background: cornflowerblue;
        color: white;
        border: blue;
        border-radius: 20px;
        font-size: 15px;
        margin: auto;
        width: 114px;
        text-align: center;
        display: flex;
        margin-top: 30px;
    }
    


    .TitleDesign h1 {
        position: relative;
        color: #37517e;
        font-size: 32px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .TitleDesign h1:before {
        content: "";
        width: 160px;
        height: 1px;
        background:#ddd;
        display: block;
        position: absolute;
        bottom: -5px;
        left: calc(50% - 80px);
    }
    .TitleDesign h1:after {
        content: "";
        width: 30px;
        height: 3px;
        display: block;
        background:#47b2e4;
        position: absolute;
        left: calc(50% - 15px);
        bottom: -6px;
    }

   

    i.fa-solid.fa-location-dot {
        float: left;
        padding: 10px;
        color: red;
        font-size: 20px;
        background: darkseagreen;
        border-radius: 20px;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    i.fa-solid.fa-envelope {
        float: left;
        padding: 10px;
        color: red;
        font-size: 20px;
        background: darkseagreen;
        border-radius: 20px;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .location-address p {
        font-size: 13px;
        margin-top: 8px;
    }

    i.fa-solid.fa-phone {
        float: left;
        color: red;
        padding: 10px;
        margin-right: 8px;
        background: darkseagreen;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 20px;
    }
    
    i.fa-solid.fa-layer-group,
    i.fa-solid.fa-gauge-high,
    i.fa-solid.fa-file-lines,
    i.fa-brands.fa-dribbble {
        color: cornflowerblue;
        font-size: 30px;
        margin-bottom: 15px;
    }
    i.fa-solid.fa-circle-question {
        float: left;
        font-size: 25px;
        color: darkcyan;
        margin-right: 8px;
    }
    i.fa-solid.fa-chevron-right {
        float: left;
        margin-right: 10px;
        color: mediumslateblue;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 5px;
    }
    i.fa-solid.fa-check {
        float: left;
        font-size: 15px;
        margin-right: 10px;
        color: green;
    }
    i.fa-solid.fa-xmark {
        float: left;
        font-size: 15px;
        margin-right: 10px;
        color: gray;
    }
    .small-logo-describe:nth-child(odd) {
        background: red;
        color: white;
        box-shadow: 0 0 10px darkred;
        border-radius: 20px 0 20px 0px;
    }
    .small-logo-describe:nth-child(even) {
        background: green;
        color: white;
        box-shadow: 0 0 10px darkgreen;
        border-radius: 0px 20px 0px 20px;
    }

    .progress-bar {
        width: 100%;
        height: auto;
    }
    .progress-bar-part {
        width: 1020px;
        height: auto;
        /* background: red; */
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
    .progress-bar-part-1{
        width: 50%;
        padding: 10px;
    }
    .progress-bar-1-A {
        width: 100%;
        height: auto;
        background: lightgrey;
        border-radius: 10px;
    }
    .progress-bar-1-A1 {
        width: 100%;
        background: blueviolet;
        color: white;
        text-align: center;
        border-radius: 10px;
        height: auto;
        margin-bottom: 10px;
    }
    .progress-bar-1-A2 {
        width: 75%;
        background:blueviolet;
        color: white;
        text-align: center;
        border-radius: 10px;
        height: auto;
        margin-bottom: 10px;
    }

    .progress-bar-1-A3 {
        width: 50%;
        background: blueviolet;
        color: white;
        text-align: center;
        border-radius: 10px;
        height: auto;
        margin-bottom: 10px;
    }
    .progress-bar-1-A4 {
        width: 25%;
        background: blueviolet;
        color: white;
        text-align: center;
        border-radius: 10px;
        height: auto;
    }
    .question-items:nth-child(odd) {
        background: cornsilk;
    }
    .join-our-newsletter-box {
        background-image: url(images/portfolio-8.jpg);
        background-position: center;
        background-attachment: fixed;
    }